@use "./variables" as variables;
@use "./navbar" as navbar;

.logMain {
    display: flex;
    justify-content: center;
    align-items: center;
height: 100vh;
font-family: variables.$funnyFont;
    div {
        min-height: 30%;
        min-width: 40%;
display: flex;
justify-content: center;
align-items: center;
margin-left: 2%;
margin-right: 2%;
    }
    h3 {
        color: variables.$color;
    }
}

.formu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
.form-floating{
    min-width: 100% !important;
}
    
}
.wrong {
    margin-top: 2%;
    width: 100%;
}

.redirect:hover {
cursor: pointer;
}

